# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Ignore Claude Code Local Settings
# https://docs.anthropic.com/en/docs/claude-code/settings#settings-files
.claude/settings.local.json

# Ignore Serena output files except project.yml
# @see https://github.com/oraios/serena
.serena/*
!.serena/project.yml
